# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Editor junk
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# FastAPI / Uvicorn logs
*.log

# Environment files
.env
*.env

# Build + dist
build/
dist/
*.egg-info/

# Your custom ignores
.winvale
.virt
*/__pycharm__/*
test.py
test2.py
output.txt
base.py